<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <form method="POST" action="/piglatinize">
    <h1>Pig Latinizer!</h1>
    <p>Enter a word or phrase and then bit "submit" to see it translated to Pig Latin!</p>

    <p>Enter your phrase: <input type="text" name="user_phrase"></p>
    <type="submit" value="Submit">
    </form>
  
  </body>
</html>